.policy-component {
  padding: 15px 130px 15px 130px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    .vertical {
      border-left: 2px solid rgb(156 150 150 / 97%);
      height: 57px;
      margin-left: 80px;
      margin-top: 55px;
    }
  }

  .data {
    height: 100%;
    display: flex;
    align-items: center;
    .icon {
      margin: 0px 20px;
    }
    .details {
      margin-top: 13px;
      .ant-typography {
        line-height: 8px;
        font-weight: 600;
        font-size: 17px;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .policy-component {
    padding: 15px 50px;
  }
}
@media only screen and (max-width: 1299px) {
  .policy-component {
    padding: 15px 30px;
    height: 180px;
    .info .vertical,
    .info .vertical1 {
      margin-left: 20px;
      margin-top: 44px;
    }
    .data .icon {
      margin: 0px 15px;
    }
  }
}
@media only screen and (max-width: 989px) {
  .policy-component {
    padding: 14px 10px;
    height: 150px;
    .data .icon {
      margin: 0px 10px;
    }
    p {
      margin-top: 10px;
      font-size: 13px;
    }
    .info .vertical,
    .info .vertical1 {
      margin-left: 20px;
      margin-top: 30px;
    }
  }
}
@media only screen and (max-width: 849px) {
  .policy-component .data .details .ant-typography {
    line-height: 0px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 749px) {
  .policy-component {
    .data {
      .icon {
        svg {
          width: 20px !important;
        }
      }
      .details .ant-typography {
        font-size: 11px;
      }
    }
    p {
      letter-spacing: 0px;
      margin-top: 10px;
      font-size: 11px;
    }
  }
 
}
@media only screen and (max-width: 549px) {
  .policy-component {
    padding: 15px 30 px;

    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    .info {
      width: 50%;
      justify-content: space-between;
      .vertical {
        margin-top: 0px;
      }
      .vertical1 {
        display: none;
      }
    }
    .data {
      .icon svg {
        width: 25px !important;
      }

      .details .ant-typography {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .policy-component {
    display: flex;
    flex-wrap: wrap;
    .info {
      width: 50%;
      justify-content: space-between;
      .vertical {
        margin-top: 14px;
        height: 34px;
        margin-right: 0px;
      }
      .vertical1 {
        display: none;
      }
    }
    .data {
      .icon {
        margin: 0px 15px;
        svg {
          width: 17px !important;
        }
      }

      .details {
        .ant-typography {
          font-size: 12px;
        }
        margin-top: 13px;
      }
    }
    p {
      margin-top: 10px;
      font-size: 10px;
    }
  }
}
@media only screen and (max-width: 386px) {
  .policy-component {
    margin-left: 0px;
    padding: 11px 0px;
    .data .icon {
      margin: 0px 12px;
    }
  }
}
@media only screen and (max-width: 290px) {
  .policy-component {.data {
    .icon {
      margin: 0px 7px;
    }
    .details .ant-typography {
      font-size: 11px;
    }}
    .info .vertical {
      margin-left: 4px;}
      p {
   
        font-size: 9px;
    }
  }
 

}
